clearfix::after{
  content: "";
  display: block;
  clear: both;
}
body{
  font-family: "Times New Roman", 游明朝, "Yu Mincho", 游明朝体, YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, HGS明朝E, "ＭＳ Ｐ明朝", "MS PMincho", serif;;
}

.font-s{
  font-size: small;
}
.font-l{
  font-size: large;
}
.font-ss{
  font-size:x-small;
}

.color-w{
  color: #fff;
}
.color-b{
  color: saddlebrown;
}
.bg-brown{
  background-color: saddlebrown;
}
.bg-brown-black{
  background-color: rgb(56, 28, 8);
}
.font-family{
font-family: "Times New Roman", 游明朝, "Yu Mincho", 游明朝体, YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", HiraMinProN-W3, HGS明朝E, "ＭＳ Ｐ明朝", "MS PMincho", serif;;
}


.bgWord{
  width: 100%; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
  height: 1.5em;
  color:#fff;
  text-align: center;

  /*位置の設定　- 上下中央寄せ*/
  position: absolute;
  background-color: saddlebrown;
  margin: auto;
  top: 33%;
  bottom: 0;
  opacity: 0.7;
}

.bgWord-s{
  width: 100%; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
  height: 1.5em;
  color:#fff;
  text-align: center;

  /*位置の設定　- 上下中央寄せ*/
  position: absolute;
  background-color: saddlebrown;
  margin: auto;
  top:4%;
  bottom: 0;
  opacity: 0.7;
}

.bgWord-3{
  width: 100%; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
  height: 1.5em;
  color:#fff;
  text-align: center;

  /*位置の設定　- 上下中央寄せ*/
  position: absolute;
  background-color: saddlebrown;
  margin: auto;
  top:92%;
  bottom: 0;
  opacity: 0.7;
}

.bgOpacity{
  /*位置の設定*/
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  left: 0;

  /*背景画像の設定*/
  /* background: url(https://dl.dropbox.com/s/28e21uby8b3eibo/sample.jpg?dl=0);
  background-size: cover; */

  /*透過の設定*/
  opacity: 0.5;
}
.menueSecteion{
  position: relative;
}
/* 背景の文字をかく */
.fixed-bg{
  min-height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.fixed-bg01{
  min-height: 30vh;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.bg{ 
  background-image: url(arombg.jpg); 
  
}
/* 文字を真ん中で中央にする */
  .bg01{
    height: 20%;
    color: white;
    background-image: url(spa18.jpg); 
  }
  .bg0102{
    height: 20%;
    color: white;
    background-image: url(arom-body-3.jpg); 
  }
  .bg0101{
    height: 20%;
    color: white;
    background-image: url(spa9.jpg); 
  }
  .bg02{
    height: 20%;
    background-image: url(arm-body-2.jpg); 

  }
.border-eee{
border: 1px solid #eee;
}
.border-r-eee{
border-right: 2px solid #eee;
}


.button-border{
  border: 1px solid saddlebrown;
  color: #333;
  padding: 15px 10px;
  margin-top: 50px;
  width: 13rem;
}
.jumbotron a{
  color: #333;
 text-decoration: none;
 padding-bottom: 0;
}
.jumbotron a :hover{
  background-color: saddlebrown;
  color: #fff;
 text-decoration: none;
}
/*
.bg-text {
padding-top: 20px;
}
*/
.magin-100{
  margin: 0;
  padding: 0;
  width: 100%;
}




